h1 {
  text-align: center;
  padding-bottom: 2em;
}

li {
  display: inline-block;
  margin: 0;
}

.blackKey {
  background-color: rgba(5, 5, 5, 1);
  border-style: outset;
  border-width: 5px;
  border-top: none;
  border-right-color: rgba(255, 255, 255, 0.15);
  border-left-color: rgba(255, 255, 255, 0.15);
  border-bottom-color: rgba(255, 255, 255, 0.3);
  border-bottom-width: 10px;
  height: 175px;
  width: 25px;
  margin: 0;
  position: relative;
  bottom: 253px;
  left: 25px;
}

.whiteKey {
  background-color: rgba(220, 220, 220, 0.05);
  height: 250px;
  width: 40px;
  border: solid 1px black;
  border-radius: 5px;
  display: inline-block;
  z-index: 1;
  margin: -2px;
}
